h1 {
    color: black;
    font-weight: bold;
}

h2 {
    color: chocolate;
}

.characteristics {
    color: darkblue;
}

.toys {
    color: darkblue;
}

img {
    border: darkgrey;
    border-radius: 25px;
    width: 25%;
}

body {
    background-color: darkslategray;
}