h1 {
    color: black;
    font-weight: bold;
}

h2 {
    color: chocolate;
}

.characteristics {
    color: darkblue;
}

.toys {
    color: darkblue;
}

img {
    border: darkgrey;
    border-radius: 50px;
}

img {
    height: 200px;
    width: 100px;
}